body {
  background-color: #333333;
}

#mysvg {
  height: 500px;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.st0{fill:#00AEEF;}
.st1{fill:#FFF200;}
.st2{fill:#00A651;}
.st3{fill:#2F3192;}
.st4{fill:#EC028C;}
.st5{fill:#2F3193;}
.st6{fill:#EC048C;}
.st7{fill:#EC038C;}
.st8{fill:#ED1F25;}
.st9{fill:#FFF100;}
.st10{fill:#EC058C;}
.st11{fill:#FFF000;}
.st12{fill:#00AEEE;}
.st13{fill:#ED2025;}
.st14{fill:#EC098D;}
.st15{fill:#EB068C;}
.st16{fill:#2F3292;}
.st17{fill:#EC088C;}
.st18{fill:#EC078D;}
.st19{fill:#EC0D8D;}
.st20{fill:#303293;}
.st21{fill:#00AEED;}
.st22{fill:#2F3293;}
.st23{fill:#EC0F8D;}
.st24{fill:#EC098C;}
.st25{fill:#EC078C;}
.st26{fill:#00ADEE;}
.st27{fill:#00A652;}
.st28{fill:#EB0E8D;}
.st29{fill:#EC2125;}
.st30{fill:#00AFEF;}
.st31{fill:#00AFEC;}
.st32{fill:#EC0A8D;}
.st33{fill:#00AFEE;}
.st34{fill:#00AFEB;}
.st35{fill:#00AEEA;}
.st36{fill:#00A751;}
.st37{fill:#FFEF00;}
.st38{fill:#ED1A8D;}
.st39{fill:#EB168E;}
.st40{fill:#FDEE00;}
.st41{fill:#ED2125;}
.st42{fill:#ED1A8B;}
.st43{fill:#EE2425;}
.st44{fill:#ED198E;}
.st45{fill:#00AFEA;}
.st46{fill:#2F3493;}
.st47{fill:#E71C8F;}
.st48{fill:#FFED00;}
.st49{fill:#E9108D;}
.st50{fill:#00A752;}
.st51{fill:#00B0E6;}
.st52{fill:#FFFFFF;}
.st53{fill:#00AEEB;}
.st54{fill:#313391;}
.st55{fill:#00B0F0;}
.st56{fill:#00B0E8;}
.st57{fill:#00B0E9;}
.st58{fill:#00AFE2;}
.st59{fill:#ED1289;}
.st60{fill:#00A853;}
.st61{fill:#FEEC18;}
.st62{fill:#ED218D;}
.st63{fill:#00A755;}
.st64{fill:#E8148D;}
.st65{fill:#E42C91;}
.st66{fill:#FFF10E;}
.st67{fill:#00AFE7;}
.st68{fill:#E9248B;}
.st69{fill:#373390;}
.st70{fill:#E31489;}
.st71{fill:#00A852;}
.st72{fill:#EE3143;}
.st73{fill:#00B1DD;}
.st74{fill:#E5158E;}
.st75{fill:#E32C92;}
.st76{fill:#00B2E9;}
.st77{fill:#00A9E6;}
.st78{fill:#FAF9F9;}
.st79{fill:#ED1A8E;}
.st80{fill:#ED1E7E;}
.st81{fill:#D53233;}
.st82{fill:#ED3494;}
.st83{fill:#ED1C86;}
.st84{fill:#FEFEFD;}
.st85{fill:#F3E7E4;}
.st86{fill:#E71D8F;}
.st87{fill:#ED1D83;}
.st88{fill:#009B57;}
.st89{fill:#E01D8E;}
.st90{fill:#F1CA48;}
.st91{fill:#FFCD16;}
.st92{fill:#FAEF56;}
.st93{fill:#463594;}
.st94{fill:#00ACE8;}
.st95{fill:#E8E8F5;}
.st96{fill:#00ABDB;}
.st97{fill:#323494;}
.st98{fill:#00A754;}
.st99{fill:#303393;}
.st100{fill:#3B3C93;}
.st101{fill:#313494;}
.st102{fill:#2E3794;}
.st103{fill:#313393;}
.st104{fill:#00A958;}
.st105{fill:#313394;}
.st106{fill:#38393A;}
.st107{fill:#00A753;}
.st108{fill:#00A855;}
.st109{fill:#EE2924;}
.st110{fill:#343494;}
.st111{fill:#00AB53;}
.st112{fill:#EE2829;}
.st113{fill:#2D3C94;}
.st114{fill:#00B15B;}
.st115{fill:#00A653;}
.st116{fill:#EA2F25;}
.st117{fill:#373B3A;}
.st118{fill:#343393;}
.st119{fill:#00A872;}
.st120{fill:#00AE58;}
.st121{fill:#00A854;}
.st122{fill:#38373A;}
.st123{fill:#2F3392;}
.st124{fill:#00A451;}
.st125{fill:#00A95E;}
.st126{fill:#EB392B;}
.st127{fill:#434249;}
.st128{fill:#ED2124;}
.st129{fill:#00A954;}
.st130{fill:#313293;}
.st131{fill:#00AB65;}
.st132{fill:#00A552;}
.st133{fill:#38473C;}
.st134{fill:#00AB5E;}
.st135{fill:#00A95C;}
.st136{fill:#00A551;}
.st137{fill:#00A859;}
.st138{fill:#EF3D25;}
.st139{fill:#00A956;}
.st140{fill:#2A3D98;}
.st141{fill:#00A95A;}
.st142{fill:#2F3393;}
.st143{fill:#37373A;}
.st144{fill:#00A856;}
.st145{fill:#00A953;}
.st146{fill:#313291;}
.st147{fill:#00A851;}
.st148{fill:#00AD60;}
.st149{fill:#00A756;}
.st150{fill:#2D3594;}
.st151{fill:#D7382D;}
.st152{fill:#ED2324;}
.st153{fill:#343792;}
.st154{fill:#263C98;}
.st155{fill:#323380;}
.st156{fill:#373739;}
.st157{fill:#00A75C;}
.st158{fill:#00AD5B;}
.st159{fill:#EE2426;}
.st160{fill:#303193;}
.st161{fill:#EE2727;}
.st162{fill:#313292;}
.st163{fill:#37383A;}
.st164{fill:#EC2025;}
.st165{fill:#3A433C;}
.st166{fill:#443C43;}
.st167{fill:#EB2426;}
.st168{fill:#343D40;}
.st169{fill:#333293;}
.st170{fill:#413996;}
.st171{fill:#333392;}
.st172{fill:#36393A;}
.st173{fill:#2D3494;}
.st174{fill:#E91F28;}
.st175{fill:#EE2827;}
.st176{fill:#00A957;}
.st177{fill:#333F3D;}
.st178{fill:#00A757;}
.st179{fill:#EE2326;}
.st180{fill:#00A95B;}
.st181{fill:#493643;}
.st182{fill:#00AB5B;}
.st183{fill:#EE2925;}
.st184{fill:#00AE61;}
.st185{fill:#00AA52;}
.st186{fill:#E25927;}
.st187{fill:#33403B;}
.st188{fill:#3C393A;}
